.background-blur{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
    background-color: #ffffff61;
    width: 100%;
    position: fixed;
    z-index: 10;
    min-height: 100%;
    max-height: 100%;
}

.profile-card{
    overflow: hidden;
    width: 37rem;
    background: white;
    border-radius: 12px;
    display: grid !important;
    height: 70vh;

    -webkit-box-shadow: 0 10px 6px -6px #303030;
    -moz-box-shadow: 0 10px 6px -6px #3e3535;
    box-shadow: 0 10px 6px -6px #3e3535;
    
}
.profile-content{
    width: 100%;
    height: 100%;

}
.profile-img {
    grid-column: 1 / 2;
    grid-row: 1;
    padding: 0rem 1rem 0px 1rem;
}
.profile-img img{
    border-radius: 54%;
    overflow: hidden;
    height: 60%;
}

.profile-info{
    grid-column: 2 / 4;
    grid-row: 1;
}
.profile-info>div{
    display: flex;
    margin-top: 0.5rem;
    padding-left: 1rem;
}
.profile-info>div>div{
    display: flex;
    align-self: center;
    margin-right: 0.6rem;
}
.profile-buttons{
    grid-column: 1 / 4;
    grid-row: 3;
}
.close-button2{
    top: 6px;
    position: absolute;
    right: 12px;
    color: #00000061;
    font-size: 1.5rem;
    cursor: pointer;
}
.close-button{
    color: #6f6f6f;
    font-size: 1.8rem;
    cursor: pointer;
    text-align: center;
}
.profile-posts{
    grid-column: 1 / 4;
    grid-row: 2;
}
.user-posts{
    flex-wrap: wrap;
    display: flex;
    height: 35vh;
    width: 101%;
    overflow: auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.user-posts img {
    height: 22vh;
    width: 33%;
    object-fit: cover;
}
.user-posts::-webkit-scrollbar {
    display: none;
  }
  