*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: overlay;
}
*:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.app{
    background: #f4f4f4;
    font-family: system-ui;
}
.active {
    display: none;
}
.disable {
    display: block;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    background: url(https://upload.wikimedia.org/wikipedia/commons/4/42/Loading.gif) no-repeat center;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

  