*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: overlay;
}

.app{
    background: #f4f4f4;
    font-family: system-ui;
}
.active {
    display: none;
}
.disable {
    display: block;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}